@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.init{
        background-image: url("../images/RingedSpicyKodiakbear-size_restricted.gif");
    }

}
h1{
    color: white;
}
button{
    background-color: #242729;
    color:white;
    border-width: 1px;
    border-radius: 15px;
    border-color:white;
    width: 20vw;
    height: 5vh;
    font-size: large;
    &:hover {
        background-color: #35393b;
      }
    &.initBut{
        width: 30vw;
        height: 8vh;
        }
        &.ansBut{
            margin:20px;
            width: 30vw;
            height: 10vh;
            font-size: larger;
        }
        &.ansButCorrect{
            background-color: chartreuse;
            margin:20px;
            width: 30vw;
            height: 10vh;
            font-size: larger;
        }
        &.ansButInCorrect{
            background-color: rgba(255, 0, 13, 0.911);
            margin:20px;
            width: 30vw;
            height: 10vh;
            font-size: larger;
        }
        &.ansCorrect{
            background-color: rgba(243, 200, 8, 0.911);
            margin:20px;
            width: 30vw;
            height: 10vh;
            font-size: larger;
        }
}
select{
    background-color: #242729;
    border-width: 1px;
    border-radius: 15px;
    border-color:white;
    color: white;
    width: 25vw;
    height: 5vh;
    margin: 2vh;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #35393b;
      }
      &option{
        text-align: center;
    }
}
.qContainer{
    // background-color: orange;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.warning{
    color: red;
}

.showCanvas{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.dontShowCanvas{
    width: 0%;
    height: 0%;
    position: fixed;
}


.fade {
  position: relative;
  width: 100%;
  min-height: 5vh;
  top: -800px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: -10;
}
.description{
    margin-top: 40px;
    color: #feda4a;
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 6px;
  text-align: justify;
}
.star-wars {
    margin-top: 400px;
    width: 50%;
    align-self:center;
    flex-shrink: 3;
    z-index: -10;
  display: flex;
  justify-content: center;
  position: relative;
  height: 80px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 200s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}